<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Интервал на главном слайдере в секундах-->
    <add key="MainSliderInterval" value="5" />
    <!-- Время бездействия для главного слайдера в минутах-->
    <add key="MainSliderHold" value="1" />
	<!-- Время бездействия для главного экрана в минутах-->
	<add key="MainWindowHold" value="5" />
	<!-- Время бездействия для просмоторщика в минутах-->
	<add key="GalleryWindowHold" value="5" />
    <!-- Пароль закрытия приложения-->
    <add key="Password" value="123456" />
    <!-- Интервал на слайдере просмоторщика в секундах-->
    <add key="GallerySliderInterval" value="5" />
    <!-- Размер шрифта описания просмотрщика в пт-->
    <add key="GalleryDescFontSize" value="16" />
    <!-- Размер шрифта описания на главном экране в пт-->
    <add key="MainDescFontSize" value="12" />
    <!-- Размер шрифта названия категории на главном экране в пт-->
    <add key="MainTitleFontSize" value="16" />
	<!-- Корневая папка -->
	<add key="MainFolder" value="C:\Museum3\Museum3"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>